<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReplicateForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ReplicateForm.Properties.Settings>
            <setting name="SourcePath" serializeAs="String">
                <value>C:\Test1</value>
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value>C:\Test2</value>
            </setting>
        </ReplicateForm.Properties.Settings>
    </userSettings>
</configuration>